:root {
  --primary-text-color: #8a8a89;
  --White: #ffffff;
  --Text: #121417;
  --Text-halb: #12141780;
  --title-text-color: #2e2f42;
  --accent-color: #3470ff;
  --accent-color-hover: #0b44cd;
  --background-color: #f4f4fd;
  --navyblue-moda: #2e2f42;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --titing-duration: 250ms;
}

body {
  margin: 0;
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: var(--Text);
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}
